doctype html
html 
    head 
        style
            link(href="./style.css")
    body
        h1.title Оформление текста
        p Повседневная практика показывает, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Таким образом рамки и место обучения кадров требуют от нас анализа систем массового участия. С другой стороны постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Товарищи! рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. 
        

    script
        script(src="./script.js")
