doctype html
html 
    head 
        link(type="Image/x-icon" href="/favicon.png" rel="icon")
        title Заголовок страницы
        link(rel="stylesheet" href="/style.css")
    body
        h1.title Оформление текста
        p 
            | Повседневная практика показывает, что 
            | укрепление и развитие структуры требуют 
            | определения и уточнения существенных финансовых и 
            | административных условий. Таким образом 
            | рамки и место обучения кадров требуют от нас анализа систем массового участия. С другой 
            | стороны постоянный количественный рост и сфера нашей активности обеспечивает широкому 
            | кругу (специалистов) участие в формировании форм развития. Товарищи! рамки и место 
            | обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании 
            | направлений прогрессивного развития. 
        h2.subtitle Заголовок второго уровня
        p
            | Товарищи! постоянный количественный рост 
            | и сфера нашей активности требуют от нас 
            | анализа форм развития. 
            | Таким образом укрепление и развитие 
            | структуры позволяет оценить значение 
            | соответствующий условий активизации. 
            | Таким образом консультация с широким 
            | активом требуют определения и уточнения модели развития. 
            | Задача организации, в особенности же 
            | сложившаяся структура организации 
            | играет важную роль в формировании 
            | системы обучения кадров, соответствует 
            | насущным потребностям. 
            | Задача организации, в особенности же 
            | постоянный количественный рост и сфера 
            | нашей активности представляет собой 
            | интересный эксперимент проверки систем 
            | массового участия.
        ul.list
            li Хе
            li Хехе
            li Хехехе