body{
    font: Arial, 16px/1.5, sans-serif;
    color: #33f;
}

.title{
    font: 40px/1.2;
    color: #f03333;
    text-transform: uppercase;
}

.subtitle{
    font-size: 30px/1.2;
    color: #12ac11;
    text-decoration: underline;
}

.list{
    font: 20px;
    font-style: italic;
    color:#444;
    list-style-type: square;
}